name: bosanski_tr_app
description: Boşnakça - Türkçe kelime öğrenme uygulaması
publish_to: 'none'
version: 2.0.0+1

environment:
  sdk: ">=3.1.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  shared_preferences: ^2.2.3
  flutter_tts: ^4.0.2
  google_fonts: ^6.1.0
  path_provider: ^2.1.4
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/data/
    - assets/data/words.json
